<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="GSG" value="https://gsgfintech.pkgs.visualstudio.com/_packaging/GSG/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GSG>
      <add key="Username" value="gsg-function-app-4-cd" />
      <add key="ClearTextPassword" value="%NUGET_GSG_PAT%" />
    </GSG>
  </packageSourceCredentials>
</configuration>